<input type="checkbox" id="menu-switch">

<div class="navbar-mobile">
  <div class="container">
        <li><a href="/articles">文章列表</a></li>
        <li><a href="/categories">文章分類</a></li>
        <li><a href="/about">關於我</a></li>
  </div>
</div>

<nav class="navbar">
  <div class="wrapper navbar__wrapper">
    <div class="navbar__site-name">
      <a href='/'>Nicolas's Blog</a>
    </div>
    <ul class="navbar__list">
      <div>
          <li><a href="/articles">文章列表</a></li>
          <li><a href="/categories">文章分類</a></li>
          <li><a href="/about">關於我</a></li>
      </div>
      <div>
        <!-- 檢查權限 -->
        <% if (username) { %>
          <li><a href='/categories/manage'>管理分類</a></li>
          <li><a href='/articles/manage'>管理文章</a></li>
          <li><a href='/article/manage'>新增文章</a></li>
          <li> <a href='/logout'>登出</a> </li>
        <% } else { %>
          <li> <a href='/login'>登入</a> </li>
        <% } %>
      </div>
    </ul>
    <label class="navbar__icon" for="menu-switch">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </label>
  </div>
</nav>

<section class="banner">
  <div class="banner__wrapper">
    <h1>我只是一個簡單的部落格，不要玩壞我</h1>
    <div>If you're not having fun, lower your standards.</div>
  </div>
</section>