<nav class="navbar">
  <div class="wrap">
    <div class="navbar__site-name">
      <a href="/">Just A Bite!</a>
    </div>
    <ul class="navbar__list">
      <li><a href="/prize">抽個大獎</a></li>
      <li><a href="/menu">我要點餐</a></li>
      <li><a href="#">查詢訂單</a></li>
      <li><a href="/question">常見問題</a></li>
    </ul>
  </div>
</nav>