<nav class="navbar">
  <div class="wrap">
    <div class="navbar__site-name">
      <a href="/manage">管理後台</a>
    </div>
    <ul class="navbar__list">
      <li><a href="/">餐廳網站</a></li>
      <li><a href="/manage/menu">菜單管理</a></li>
      <li><a href="/manage/question">問題管理</a></li>
      <li><a href="/manage/prize">抽獎管理</a></li>
      <li><a href="/manage/order">訂單管理</a></li>
      <li><a href="/logout">登出</a></li>
    </ul>
  </div>
</nav>