<!DOCTYPE html>

<html>
<head>
  <%- include ('templates/head') %> 
</head>

<body>
  
  <%- include ('templates/nav') %>

  <div class="container-wrapper">
   <div class="profile">
     <div class="profile-photo">
       <div class="img">
         <img src="/images/profile.jpg" alt="me">
       </div>
     </div>
     <div class="profile-title">
       <h1>Nicolas Cheng</h1>
     </div>
     <div class="profile-content">
       <p>
        Assez vu. La vision s'est rencontrée à tous les airs.
        Assez eu. Rumeurs des villes, le soir, et au soleil, et toujours.
        Assez connu. Les arrêts de la vie. - Ô Rumeurs et Visions !
        Départ dans l'affection et le bruit neufs !
        </p>
     </div>
   </div>
  </div>
  
  <%- include ('templates/footer') %>

</body>
</html>
