<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include ('templates/head') %>
  </head>

  <body>
    <%- include ('templates/nav_manage') %>
    
    <div class="manage">
      <h1>準備中 <i class="fa fa-wrench" aria-hidden="true"></i></h1>
    </div>
  </body>
</html>
