@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');

h1 {
  color: #467B85;
  letter-spacing: 3px;
  font-family: 'Josefin Sans', sans-serif;
}

button {
  padding: 5px 5px;
  border: transparent;
  border-radius: 5px;
  width: 60px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  vertical-align: middle; 
  background-color: #9EBEC4;
}

button:hover,
button:focus
 {
  filter: brightness(90%);
}

input {
  outline: none;
  border: none;
  border-radius: 10px;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
}

::placeholder {
  color:rgb(192, 192, 192);
  letter-spacing: 3px;
}