<footer>
  <div class="footer__top">
    <div class="wrap">
      <div class="footer__info">
        <div class="address">
          餐館地址: 天上地下天堂路三分之一里六段520號
        </div>
        <div class="phone">
          <label for="">phone: </label>
          <a href="tel:+886-2-1314-5566">02-1314-5566</a>
        </div>
        <div class="open-time">
          營業時間：週一〜週五 09:00~18:00 /
          週六、週日、國定假日（含連假）休息
        </div>
        <div class="email">
          <label for="">email:</label>
          <a href="mailto:service@justabite.com.tw"
            >service@justabite.com.tw</a
          >
        </div>
      </div>
      <div class="footer__site">
        <div>Just A Bite!</div>
        <div class="social-media">
          <a href="https://www.facebook.com/" target="_blank"
            ><i class="fa fa-facebook-official" aria-hidden="true"></i>
            Facebook</a
          >
          <a href="https://www.instagram.com/?hl=zh-tw" target="_blank"
            ><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a
          >
          <a href="https://www.youtube.com/?gl=TW&tab=r11" target="_blank"
            ><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p>
      Copyright © 2020 Just A Bite All Rights Reserved.
      咬一口股份有限公司版權所有
    </p>
  </div>
</footer>