<nav class="navbar">
  <div class="wrap">
    <div class="navbar__site-name">
      <a href="#">Just A Bite!</a>
    </div>
    <ul class="navbar__list">
      <li class="active"><a href="/">抽個大獎</a></li>
      <li><a href="#">我要點餐</a></li>
      <li><a href="#">查詢訂單</a></li>
      <li><a href="#">常見問題</a></li>
    </ul>
  </div>
</nav>