<nav class="navbar">
  <div class="wrap">
    <div class="navbar__site-name">
      <a href="/manage_prize">管理後台</a>
    </div>
    <ul class="navbar__list">
      <li><a href="/">抽獎頁面</a></li>
      <li><a href="#"">菜單管理(製作中)</a></li>
      <li><a href="#">問題管理(製作中)</a></li>
      <li><a href="/manage_prize">抽獎管理</a></li>
      <li><a href="/logout">登出</a></li>
    </ul>
  </div>
</nav>